@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* background: no-repeat center url('https://img.freepik.com/free-vector/background-abstract-line-digital-gradient-luxury_483537-2356.jpg?w=826&t=st=1701451953~exp=1701452553~hmac=84b4b79097e5b3a2ed853bd4a0df9d100c21e30016c8b5b77b733f5f257ec1b4');
  background-size: cover; */
}



.active{
    color: aquamarine;
}

.banner_small_img1 {
    animation: banner_small_img1 5s infinite alternate;
  }
  
  @keyframes banner_small_img1 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px);
    }
  }

.hero-content1{
    animation: hero 5s infinite alternate;
}

  @keyframes hero {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  
